@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');

/*mette tutto in maiuscolo*/
.boxhometeam {
  background: rgba(0,69,187,255);
  color: white;
}
.boxawayteam {
  background: rgba(255,255,255,255);
  color: rgba(0,69,187,255);
}
/*this change the background color and font color of SET column*/
.labelsets, .boxhomesets, .boxawaysets {
  background: rgba(255,20,134,255);
  color: white;
}
/*this change the background color and font color of POINT column*/
.labelpoints, .boxpoints {
  background: rgba(130,130,130,255);
  color: white;
}
.box, div {box-sizing: border-box; display:flex; align-items:center; height:100%;}
.container {float:left; width:auto; font-family: 'Roboto Mono', monospace}
.sgrlogo, .boxservice {
  display:none;
}
/*---- VOLLEY --------*/


.containervolley {
  display: grid;
  grid-template-columns: auto auto 155px 480px 251px;
  grid-template-rows: 55px 201px 201px;
  gap: 12px 12px; margin: 10px 10px;
}
.containervolley .label {font-size: 2.5vw;}
.containervolley .box, 
.containervolley .label {justify-content:center;}

.boxhometeam, .boxawayteam {position: relative; padding: 0 3vw; font-size:10vw}

/*  MassaVolley Styles */
.boxhometeam:before {content:""; position:relative; top:0; left:0; width:40%; height:100%; background:url(https://i.imgur.com/lFPVU6Y.png) no-repeat left;background-size:90%;}

/*  Away Team Styles */
.boxawayteam:before {content:""; position:relative; top:0; left:0; width:40%; height:100%; background:url(https://i.imgur.com/ekdaQQI.png) no-repeat left; background-size:90%;}


/*this change the position home e away team */
.boxhometeam, .boxawayteam { 
  grid-column: 4/5;
  font-weight: bold;
  font-size: 9vw;
}

/*this swap the position of Points and Set*/
.boxhomesets{
  justify-content: center; 
  padding: 0 2vw; 
  text-align:center;
  grid-column: 3/4;
  grid-row: 2/3;
  font-weight: bold;
  font-size: 9vw;
}
 .boxawaysets {
  justify-content: center; 
  padding: 0 2vw; 
  text-align:center;
  grid-column: 3/4;
  grid-row: 3/4;
  font-weight: bold;
  font-size: 9vw;
}

.boxhomepoints, .boxawaypoints {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 5/6;
  font-weight: bold;
  font-size: 9vw;
}

.labelsets {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 3/4;
  grid-row: 1/2;
  font-weight: bold;
}

.labelpoints {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 5/6;
  font-weight: bold;
}

/*angoli arrotondati*/
.boxhomepoints {
  border-top-right-radius: 2vw;
}
.boxawaypoints {
  border-bottom-right-radius: 2vw;
}
.boxhomesets {
  border-top-left-radius: 2vw;
}
.boxawaysets {
  border-bottom-left-radius: 2vw;
}
.labelsets {
  border-bottom-left-radius: 3vw;
  border-top-left-radius: 1vw;
  border-bottom-right-radius: 3vw;
  border-top-right-radius: 1vw;
}
.labelpoints {
  border-bottom-left-radius: 3vw;
  border-top-left-radius: 1vw;
  border-bottom-right-radius: 3vw;
  border-top-right-radius: 1vw;
}
